@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

.wrapper {
	position: relative;
	min-width: 300px;
	margin: 0 auto;
}

.categories {
	display: none;
}

.logo {
	margin: 5px;
	padding-top: 70px;
	height: 36px;
	/*width: 149px;*/
	margin-left-left: 20px;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 100%;
}


header {
	position: relative;
	height: 516px;
	background: url(../img/picture.jpg) top center;
	background-size: cover;
	padding-bottom: 160px;
	border-bottom: 1px solid #36283d;
}

.container-menu {
	position: relative;
	margin-top: 25px;
	font: 400 20px / 33.724px League Gothic Regular;
	/*text-align: center;*/
}
.menu--mobile {
	position: absolute;
	left: 50%;
	top: -1px;
	margin-left: -123px;
	display: none;
	overflow: hidden;
	width: 60%;
	z-index: 1;
}
.menu--mobile {
	background: rgba(54, 41, 62, 0.9);
	border: 1px solid #121b22;
	border-radius: 10px;
}
.menu__item {
	float: left;
	margin-right: 10px;
	
}
.menu--mobile .menu__item {
	float: none;
	border-top: 1px solid #523f5a;
	border-bottom: 1px solid #36283e;
	margin-right: 0;
}
.menu--mobile .menu__item:first-child{
	border-top: none;
	text-shadow: 0 0 10px #fff;
}
.menu__item:last-child {
	border-bottom: none;
}
.container-menu:hover .menu--mobile{
	display: block;
}
.menu:hover .menu__link--mobile {
display: none;
opacity: 0;
}
.menu__link--current,
.menu__link--mobile{
	text-shadow: 0 0 10px #fff;
	border-bottom: 2px solid #edbfff;
	
}
.menu__link--current,
.menu__link--mobile,
.menu__link {
	color: #fff;
	text-decoration: none;
	padding: 0 6px;
}
.menu--mobile .menu__item:hover {
	background-color: #2c2332;
	border-bottom: 2px solid #edbfff;
}

.menu--footer {
	margin-top: 0;
	padding-top: 45px;
	display: none;
	font: 400 20px / 33.724px League Gothic Regular;
}
.menu--footer .menu__item:hover {
	text-shadow: 0 0 10px #fff;
}


.slider {
	padding: 0 25px;
}
.wrapper__slider {
	position: relative;
	margin-top: 115px;
}
.slider__item {
	padding: 50px 30px;
}
.slider--mobile .slider__title {
	font: 400 36px / 24px League Gothic Regular;
	color: #fefefe;
	text-transform: capitalize;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.slider__text {
	font: 400 18px / 24px League Gothic Regular;
	text-transform: uppercase;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	color: #edbfff;
}
.slider__text2 {
	color: #ffffff;
	font: 300 16px / 22px 'Open Sans';
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.slider__arrow {
	position: absolute;
	top: 50%;
	margin-top: -21px;
	height: 42px;
	width: 30px;
	background: url(../img/slider_arrows.png) 0 0 no-repeat;
}
.slider__arrow--left {
	left: 0px;
}
.slider__arrow--right {
	right: 0px;
	background-position: -31px 0;
}
.slider__buttons {
	position: absolute;
	width: 100%;
	margin-left: -25px;
	bottom: -91px;
	text-align: center;
}
.slider__buttons li {
	display: inline-block;
	margin: 0 1px;
	height: 16px;
	width: 16px;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
.slider__buttons li.current:before {
	content: '';
	border-radius: 100%;
	display: block;
	height: 10px;
	width: 10px;
	margin: 3px;
	background: #fdfdfd; /* Old browsers */
	background: -webkit-linear-gradient(#fdfdfd 0%, #dedede 100%);
	background: -o-linear-gradient(#fdfdfd 0%, #dedede 100%);
	background: linear-gradient(#fdfdfd 0%, #dedede 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}


.slider--review {
	margin-top: 0;
	padding: 0 20px;
}
.slider--review .slider__item {
	position: relative;
	margin: 0 0 0 24px;
	padding: 24px 30px 30px 36px;
	background-color: #fff;
}
.slider--review .slider__buttons {
	position: relative;
	bottom: auto;
	margin-top: 23px;
}
.slider--review .slider__buttons li {
	border: 1px solid #e8e8e8;
	background: #fff;
}
.slider--review .slider__buttons li.current:before {
	background: #6a6a6a; /* Old browsers */
	background: -webkit-linear-gradient(top,  #6a6a6a 0%,#464646 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #6a6a6a 0%,#464646 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#464646',GradientType=0 ); /* IE6-9 */
}
.slider__title {
	color: #454545;
	font: 400 24px / 24px League Gothic Regular;
}
.slider__text {
	color: #edbfff;
	font: 400 18px / 32px League Gothic Regularc;
}
.slider__text1 {
	margin-top: 5px;
	font: 300 16px / 24px 'Open Sans';
	color: #454545;
}
	.slider__image{
	position: absolute;
	top: 18px;
	left: -25px;
}

.container-about {
	position: relative;
	padding: 65px 0px;
	border-bottom: 1px solid #36283d;
	background: #765283; /* Old browsers */
	background: -moz-linear-gradient(top,  #765283 0%, #372a3e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #765283 0%,#372a3e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #765283 0%,#372a3e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#765283', endColorstr='#372a3e',GradientType=0 ); /* IE6-9 */
}
.about{
	position: relative;
	margin: 0 0px 22px;
	padding-left: 60px;
	font-family: League Gothic Regular;
	color: #fff;
	text-shadow: 0px 1px 0px #0f1518;
}
.about__title {
	font-size: 24px;
	text-transform: uppercase;
}
.about__text {
	font: 300 16px / 24px 'Open Sans';
}
.about__link {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	float: right;
}
.about__link:hover {
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
.about:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 5px;
	width: 30px;
	height: 31px;
	background: url(../img/icons.png) 0 0 no-repeat;
}
.about--settings:before {
	width: 30px;
}
.about--bubble:before {
	width: 32px;
	background-position: -31px 0;
}
.about--music:before {
	width: 30px;
	background-position: -63px 0;
}
.review {
	background-color: #f9f9f9;
	padding-top: 70px;
	padding-bottom: 90px;
	border-bottom: 1px solid #e6e6e6;
}
.updates {
	margin-top: 50px;
}
.updates__box {
	margin-bottom: 16px;
}
.updates__recent {
	margin-bottom: 20px;
	color: #454545;
	font: 400 30px / 24px League Gothic Regular;
	text-transform: uppercase;
}
.updates__image {
	float: left;
	margin-right: 17px;
}
.updates__title {
	color: #454545;
	font: 800 16px / 24px 'Open Sans';
}
.updates__text {
	color: #454545;
	font: 300 16px / 24px 'Open Sans';
}
.updates__link {
	float: right;
	text-decoration: none;
	color: #454545;
	font: 400 18px / 24px League Gothic Regular;
	text-transform: uppercase;
}


.sponsors {
	padding-top: 50px;
	border-top: 1px solid #fefefe;
}
.sponsors__link{
	display: block;
	width: 50%;
	text-align: center;
	float: left;
	margin-bottom: 60px;
}


.categories {
	background-color: #ececec;
	padding: 100px 0 90px;
}
.categories__descr {
	margin-bottom: 54px;
	text-shadow: 0px 1px 0px #ffffff;
	
}
.categories__title {
	color: #454444;
	font: 400 24px / 24px League Gothic Regular;
	margin-bottom: 10px;
}
.categories__text {
	color: #787878;
	font: 300 16px / 24px 'Open Sans';
}


footer {
	height: 200px;
	background: url(../img/footer.jpg) top center no-repeat;
	background-size: cover;
}

.menu--footer .menu__list {
	display: block;
}

.disigned {
	padding-top: 40px;
	text-align: center;
	color: #ffffff;
	font: 300 12px / 33.724px 'Open Sans';
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}
.disigned__link{
	text-decoration: none;
	color: #ffffff;
	font: 700 12px / 33.724px 'Open Sans';
}



@media (min-width: 768px) {
	.container-menu {
		padding-left: 18px;
	}
	.menu__link--mobile {
		display: none;
	}
	.menu--mobile {
		display: block;
		background-color: rgba(0, 0, 0, 0);
		width: auto;
		position: inherit;
		top: 0;
		left: 0;
		margin-left: 0;
		border: none;
	}
	.menu--mobile .menu__item {
		float: left;
		border: none;
		padding-right: 48px;
	}
	.menu--mobile .menu__item:hover {
		text-shadow: 0 0 10px #fff;
		border: none;
		background-color: rgba(0, 0, 0, 0);
	}	

	.slider--mobile .slider__item {
		width: 40%;
	}
	.slider__img{
		position: absolute;
		right: 37px;
		bottom: 47px;
		display: block;
		width: 33%;
		height: 383px;
		background: url(../img/Iphone.png) 0 0 no-repeat;
		background-size: contain;
	}
}


@media (max-width: 959px) {
	.logo { 
		float: none;
		margin: 0 23px;
		padding-top: 70px;
		height: 36px;
		width: 149px;
	}
	.wrapper__slider {
		background-color: rgba(0, 0, 0, 0.2);
		height: 404px;
		margin-top: 80px;
	}
	.slider-mobile {
		width: 60%;
	}
	.slider__buttons {
		bottom: -43px;
	}
	.slider--mobile .slider__title{
		font-size: 48px;
		line-height: 48px;
	}
	.slider--mobile .slider__text{
		font-size: 24px;
	}
	
	.about {
		float: left;
		width: 20%;
		padding: 0 6%;
	}
	.about--music {
		float: right;
	}
	.slider--review,
	.updates {
		float: left;
		width: 45%;
	}
	.updates {
		padding-left: 4%;
		margin-top: 24px;
	}
	
	.sponsors__link{
		width: 16%;
	}
	
	.categories {
		display: block;
	}
	.categories__descr{
		float: left;
		width: 31%;
	}
	.middle {
		padding: 0 3%;
	}
	
	.menu--footer {
		display: block;
	}
	.disigned {
		margin-left: 580px;
	} 
}

@media (min-width: 950px) {
	.logo { 
		display: inline-block;
		margin-right: 1px;
		padding: 70px 170px 0 0;
		height: 36px;
		width: 149px;
	}
	.container-menu {
		display: inline-block;
		float: left;
		width: 80%;
	}
	.menu__link--mobile {
		display: none;
	}
	.menu--mobile {
		display: block;
		float: right;
		background-color: rgba(0, 0, 0, 0);
		width: auto;
		position: inherit;
		top: -66px;
		left: 173px;
		margin-left: 0;
		border: none;
	}
	.menu--mobile .menu__item{
		padding-right: 3%;
	}
	.menu--mobile .menu__item:last-child{
		padding-right: 0;
	}
	.menu--footer .menu__item {
		padding-right: 40px;
	}
	
	.wrapper__slider {
		background-color: rgba(0, 0, 0, 0.2);
		height: 404px;
		margin-top: 100px;
	}
	.slider__item {
		padding-top: 70px;
	}
	.slider__img{
		position: absolute;
		right: 37px;
		bottom: 47px;
		display: block;
		width: 33%;
		height: 383px;
		background: url(../img/iphone4.png) 0 0 no-repeat;
		background-size: contain;
	}
	.slider__buttons {
		margin-left: 73%;
		bottom: -43px;
		width: auto;
	}
	.about {
		float: left;
		width: 20%;
		padding: 0 6%;
	}
	.about--music {
		float: right;
	}
	.slider--review,
	.updates {
		float: left;
		width: 45%;
	}
	.updates {
		padding-left: 4%;
		margin-top: 24px;
	}
	.sponsors__link{
		width: 16%;
	}
	.categories {
		display: block;
	}
	.categories__descr{
		float: left;
		width: 31%;
	}
	.middle {
		padding: 0 3%;
	}
	.menu--footer {
		display: block;
	}
	.disigned {
		margin-top: -67px;
	}
}

@media (max-width: 767px) {
	.wrapper {
		max-width: 768px;
	}
	.logo {
		margin: 0 auto;
		padding-top: 70px;
		height: 36px;
		width: 149px;
}

	.wrapper__slider {
		background-color: rgba(0, 0, 0, 0.2);
		height: 247px;
		margin-top: 30px;
	}
	.slider__img{
		position: absolute;
		right: 31px;
		bottom: -12px;
		width: 38%;
		height: 260px;
		background: url(../img/IPhone4.png) top center no-repeat;
		background-size: contain;
	}
	.slider__buttons {
		bottom: -43px;
	}
	.slider--mobile .slider__item{
		float: left;
		width: 50%;
		padding: 84px 8px;
	}
	.slider--mobile .slider__title{
		font-size: 36px;
	}
	.slider--mobile .slider__text{
		font-size: 18px;
	}
	.slider__text2{
		display: none;
	}
	.about {
		float: none;
		width: 83%;
		padding: 0 0 0 60px;
	}
	.about--misic {
		float: none;
	}
	
	.slider--review {
		margin-top: 0;
		padding: 0;
	}
	.slider--review .slider__item {
		margin: 0 0 0 24px;
	}
	.slider--review,
	.updates{
		width: 90%;
		float: none;
	}
	.categories {
		display: block;
	}
	.sponsors__link{
		width: 33%;
	}
	.menu--footer {
		display: block;
	}
	.disigned {
		margin-left: 0px;
	}
}


@media (max-width: 480px) {
	.wrapper {
		max-width: 480px;
	}
	.logo {
		margin: 0 auto;
		padding-top: 70px;
		height: 36px;
		width: 149px;
}
	
	.wrapper__slider {
		background-color: rgba(0, 0, 0, 0);
		height: auto;
	}
	.slider--mobile .slider__item{
		float: none;
		width: 90%;
	}
	.slider__text2{
		display: none;
	}		
	.slider--mobile {
		position: relative;
	}
	.about {
		float: none;
		width: 75%;
		padding: 0 0 0 60px;
	}

	.menu--footer, 
	.categories {
		display: none;
	}
	.slider__img{
		display: none;
	}
	.sponsors__link{
		width: 40%;
		padding: 0 5%;
	}
		.disigned {
		margin-left: 0px;
	} 
}


@media (max-width: 320px) {
	.wrapper {
		max-width: 320px;
	}
}